* {
    font-family: mono;
    font-size: 18px;
    font-weight: bold;
}

.container {
    margin: auto;
    text-align: center;
    background-color: #00b0f0;
    width: 440px;
    height: 400px;
    border: 1px solid #000000;
}

.result {
    text-align: right;
    width: 400px;
    height: 50px;
    margin: 10px;
    border: 1px solid #000000;
}

.buttons {
    margin: auto;
}

.button {
    background-color: #ffffff;
    width: 75px;
    height: 30px;
    margin: 2px;
    border: 1px solid #000000;
}

.button-red {
    background-color: #ff0000;
    color: #ffffff;
}

.button-green {
    background-color: #00b050;
    color: #ffffff;
}